@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
a{
	color:#009664;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight:400;
	text-decoration:none;
	margin:10px 15px;
}

a:hover{
	text-decoration: underline
}

body{
	max-width:640px;
	margin:0 auto;
	display:flex;
	flex-direction:column;
}

h1{
	font-size:24px;
	font-family: 'Merriweather', serif;
	font-weight:900;
}

h2{
	font-size:14px;
	font-family: 'Merriweather', serif;
	font-weight:700;
}

h3{
	font-size:18px;
	font-family: 'Merriweather', serif;
	font-weight:600;
}

footer{
	display:flex;
	flex-direction:column;
	margin-top:50px;
	align-self:bottom;
}

header{
	margin:40px 0;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

p{
	font-size:14px;
	font-family: 'Merriweather', serif;
	font-weight:400;
}

section{
	margin:40px 0;
}

